<form method="POST" action="{% url 'nonsap:change_password' %}">
    {% csrf_token %}
    <input type="password" name="old_password" class="form-control mb-2" placeholder="Old Password" required>
    <input type="password" name="new_password1" class="form-control mb-2" placeholder="New Password" required>
    <input type="password" name="new_password2" class="form-control mb-2" placeholder="Confirm New Password" required>
    <button type="submit" class="btn btn-danger">Change Password</button>
</form>