{% extends 'base.html' %}
{% load static %}

{% block start %}
<style>
    nav.navbar {
        display: none;
    }
</style>
<div class="container">
    <div class="profile-container text-center">
        <h2>{{ profile.user.username }}'s Profile</h2>
        <p>Email: {{ profile.user.email }}</p>

        <!-- Profile Picture -->


        <!-- Form for Uploading Profile Picture -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="coontainer">
                <div class="mb-3">
                    {% if profile.profile_picture %}
                    <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" class="profile-img">
                    {% else %}
                    <img src="{% static 'assets/img/default.png' %}" alt="DefaultProfile" class="profile-img">
                    {% endif %}
                </div>
                <input type="file" name="profile_picture" class="form-control mb-3 visually-hidden">

                <button type="submit" class="btn btn-primary visually-hidden">Upload </button>
            </div>
        </form>
        <div class="group-div">
            <p><span class="text-dark fw-bold">Company:</span>
                {% if user.groups.all %}
                {% for group in user.groups.all %}
                {{ group.name }},
                {% endfor %}
                {% else %}
                No Company Assigned
                {% endif %}
            </p>
        </div>
        <div class="group-div">
            {% if user.is_superuser %}
            <p><strong>Role:</strong> <span class="text-dark fw-bold"> Superadmin </span></p>
            {% if user.is_staff and not user.is_superuser %}
            <p><strong>Role:</strong> <span class="text-dark fw-bold">Consultant </span></p>
            {% endif %}
            {% else %}
            <p> <strong>Role:</strong> <span class="text-dark fw-bold">User </span></p>
            {% endif %}

        </div>
        <div class="group-div">
            <p><span class="text-dark fw-bold">Password :</span> <a href="{% url 'nonsap:change_password' %}">Change
                    password</a></p>
        </div>

    </div>
    {% endblock %}