{% extends "admin-base.html" %}

{% block start %}
{% if user.is_staff %}
<div class="container">
    <h4>Assigned Issues for <span class="text-bold">{{ user.username }}</span></h4>

    <!-- Table -->
    <div class="table-responsive">
        <table class="table table-striped" id="issuesTable">
            <thead>
                <tr>
                    <th><button class="sort-btn" onclick="sortTable(0, 'issuesTable')"># <i id="sort-icon-0"
                                class="fas fa-sort"></i></button></th>
                    <th><button class="sort-btn" onclick="sortTable(1, 'issuesTable')">Username <i id="sort-icon-1"
                                class="fas fa-sort"></i></button></th>
                    <th><button class="sort-btn" onclick="sortTable(2, 'issuesTable')">Issue Title <i id="sort-icon-2"
                                class="fas fa-sort"></i></button></th>
                    <th><button class="sort-btn" onclick="sortTable(3, 'issuesTable')">Status <i id="sort-icon-3"
                                class="fas fa-sort"></i></button></th>
                    <th><button class="sort-btn" onclick="sortTable(4, 'issuesTable')">Reported on <i id="sort-icon-4"
                                class="fas fa-sort"></i></button></th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for issue in assigned_issues %}
                <tr>
                    <td>{{ issue.id }}</td>
                    <td>{{ issue.reporter.username }}</td>
                    <td>{{ issue.issue }}</td>
                    <td>{{ issue.status }}</td>
                    <td>{{ issue.report_date }}</td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'nonsap:view_details' issue.id %}">View Details</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center">No assigned issues found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>

</script>


{% endif %}
{% endblock %}