{% extends "admin-base.html" %}

{% block start %}
<div class="container mt-5">
    {% if user.is_authenticated %}
    <h1 class="text-center">Issue Details</h1>
    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th scope="col">Field</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Custom Id</strong></td>
                <td><strong class="highlight">{{ issue.custom_id }}</strong></td>
            </tr>
            <tr>
                <td><strong>Client</strong></td>
                <td><strong class="highlight">{{ issue.company_name }}</strong></td>
            </tr>
            <tr>
                <td><strong>Issue Title</strong></td>
                <td>{{ issue.issue }}</td>
            </tr>
            <tr>
                <td><strong>Description</strong></td>
                <td>{{ issue.description }}</td>
            </tr>
            <tr>
                <td><strong>Report Date</strong></td>
                <td>{{ issue.report_date }}</td>
            </tr>
            <tr>
                <td><strong>Report Time</strong></td>
                <td>{{ issue.report_time }}</td>
            </tr>
            <tr>
                <td><strong>Assigned to</strong></td>
                <td>
                    {% if issue.assigned_to %}
                    {{ issue.assigned_to.username }}
                    {% else %}
                    Not Assigned
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td><strong>Assigned on</strong></td>
                <td>{{ issue.assigned_date }}</td>
            </tr>
            <tr>
                <td><strong>Status</strong></td>
                <td>
                    {% include 'master/partials/status_update_form.html' %}


                </td>
            </tr>
            <tr>
                <td><strong>Reported By</strong></td>
                <td>{{ issue.reporter.username }}</td>
            </tr>
            <tr>
                <td><strong>Root cause</strong></td>
                <td>{% include 'admin/partials/rootcause_form.html' %}</td>
            </tr>
            <tr>
                <td><strong>Priority</strong></td>
                <td>{{ issue.priority }}</td>
        </tbody>
    </table>

    {% include 'incident-management/partials/attachments.html' %}

    {% include 'incident-management/partials/comments.html' %}

    {% else %}
    <p>Please log in to view issue details.</p>
    {% endif %}
</div>
{% endblock %}