{% extends "base.html" %}
{% block start %}
<div class="container">
    {% if user.is_authenticated and not user.is_staff and not user.is_superuser %}
    {% include 'incident-management/partials/data-box.html' %}

    {% include "incident-management/partials/user-issues.html" %}

    {% else %}
    <div class="alert alert-danger mt-5">
        <h4 class="text-center">You do not have permission to view this page.</h4>
    </div>
    {% endif %}
    {% include 'incident-management/partials/pagination.html' %}

</div>
{% endblock %}