{% extends "base.html" %}
{% block start %}
<div class="container">
    {% if user.is_authenticated and not user.is_staff and not user.is_superuser %}
    <div class="container mt-5 mb-5 issuebox-grid">
        <div class="box bg-warning">
            <h4 class="text-center">Issue Raised</h4>
            20
        </div>
        <div class="box bg-danger">
            <h4 class="text-center">Active</h4>
            20
        </div>
        <div class="box bg-success">
            <h4 class="text-center">Resolved</h4>
            20
        </div>
        <div class="box text-dark">
            <a href="{% url 'nonsap:raise-issue' %}" class="text-decoration-none" target="_blank">
                <h4 class="text-center">Raise Complaint</h4>
                <i class="fa-solid fa-plus"></i>
            </a>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Sl. No</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-danger mt-5">
        <h4 class="text-center">You do not have permission to view this page.</h4>
    </div>
    {% endif %}
</div>
{% endblock %}