{% extends "base.html" %}

{% block start %}
<div class="container mt-5">
    {% if user.is_authenticated %}
    <h1 class="text-center">Issue Details</h1>
    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th scope="col">Field</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Issue Title</strong></td>
                <td>{{ issue.issue }}</td>
            </tr>
            <tr>
                <td><strong>Description</strong></td>
                <td>{{ issue.description }}</td>
            </tr>
            <tr>
                <td><strong>Report Date</strong></td>
                <td>{{ issue.report_date }}</td>
            </tr>
            <tr>
                <td><strong>Report Time</strong></td>
                <td>{{ issue.report_time }}</td>
            </tr>
            <tr>
                <td><strong>Assigned to</strong></td>
                <td>
                    {% if issue.assigned_staff %}
                    {{ issue.assigned_staff.username }}
                    {% else %}
                    Not Assigned
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td><strong>Status</strong></td>
                <td>
                    {% if issue.status == 'active' %}

                    <button class="btn btn-danger">{{ issue.status }}</button>

                    {% elif issue.status == 'inprogress' %}

                    <button class="btn btn-secondary">{{ issue.status }}</button>
                    {% else %}
                    <button class="btn btn-success">{{ issue.status }}</button>

                    {% endif %}

                </td>
            </tr>
        </tbody>
    </table>

    {% include 'incident-management/partials/attachments.html' %}

    {% include 'incident-management/partials/comments.html' %}

    {% else %}
    <p>Please log in to view issue details.</p>
    {% endif %}
</div>
{% endblock %}