<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Chezzion Web app{% endblock %}</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/logo-icon.png' %}">
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'nonsap:home' %}">
                <img class="nav-logo" src="{% static 'assets/img/logo-icon.png' %}" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% if user.is_authenticated and user.staff %}
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 ">

                    <li class="nav-item dropdown m-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Manage
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Warehouse Management</a></li>

                            <li><a class="dropdown-item" href="{% url 'nonsap:dashboard' %}">View Tickets</a>
                            </li>
                        </ul>
                    </li>

                </ul>
                <form method="POST" action="{% url 'nonsap:logout' %}" class="d-flex align-items-center"
                    id="logout-form">
                    {% csrf_token %}
                    {{ request.user.username }},
                    <button type="button" class="btn btn-link" onclick="confirmLogout()">
                        <i class="fa-solid fa-right-from-bracket"></i>
                    </button>
                </form>
            </div>
            {% else %}
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link " href="https://chezzion.com" target="_blank">
                            About us
                        </a>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">{{
                            request.user.username}}</button>

                    </li>
                </ul>
            </div>
            {% endif %}

        </div>
    </nav>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">
                {{ request.user.username }},</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="sidebar-menu">
                <ul class="admin-menu">
                    <li><a href="{% url 'nonsap:dashboard' %}"> <i class="fa-solid fa-gauge"></i> Dashboard</a></li>
                    <li><a href="{% url 'nonsap:raise-issue' %}"><i class="fa-solid fa-list-check"></i> View Issues
                            Assigned</a></li>
                    <li><a href="{% url 'nonsap:logout' %}"> <i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% block start %}

    {% endblock %}

    <script src="{% static 'assets/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>



</body>

</html>