<div class="container mt-5 mb-5 issuebox-grid">
    <a href="?status=all" class="box bg-warning {% if status_filter == 'all' %}active{% endif %}">
        <h4 class="text-center">Issue Raised</h4>
        {{ total_issues }}
    </a>
    <a href="?status=active" class="box bg-danger {% if status_filter == 'active' %}active{% endif %}">
        <h4 class="text-center">Active</h4>
        {{ active_issues }}
    </a>
    <a href="?status=inprogress" class="box bg-primary {% if status_filter == 'inprogress' %}active{% endif %}">
        <h4 class="text-center">In Progress</h4>
        {{ inprogress_issues }}
    </a>
    <a href="?status=resolved" class=" box bg-success {% if status_filter == 'resolved' %}active{% endif %}">
        <h4 class="text-center">Resolved</h4>
        {{ resolved_issues }}
    </a>
</div>