<form method="post" action="{% url 'nonsap:update_priority' issue.id %}">
    {% csrf_token %}

    <!-- Priority Selection -->
    <div class="form-group d-md-flex ">
        <div class="col-md-9 col-sm-12">
            <select id="priority" name="priority" class="form-control">
                {% for key, value in priority_choices %}
                <option value="{{ key }}" {% if issue.priority == key %}selected{% endif %}>
                    {{ value }}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>

    <!-- Custom Days Input for P4 -->
    <div class="form-group d-md-flex ">
        <div class="col-md-9 col-sm-12">
            <input type="number" id="days" name="days" class="form-control" placeholder="Enter custom days"
                value="{{ issue.custom_days }}" {% if issue.priority != 'P4' %}disabled{% endif %}>
        </div>
    </div>

    <!-- Resolution Date Display -->
    <div class="form-group d-md-flex ">
        <div class="col-md-9 col-sm-12">
            <label for="resolutionDate">Resolution Date</label>
            <input type="text" id="resolutionDate" class="form-control" readonly value="{{ resolution_date }}">
        </div>
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary mt-4">Update Priority</button>
</form>


<script>





</script>