<div class="container mt-5 mb-5">
    <h2 class="mt-5">Attachments</h2>
    <ul class="attachment-list issuebox-grid">
        {% for attachment in attachments %}
            <li>
                {% if attachment.file.url|lower|slice:"-4:" == ".jpg" or attachment.file.url|lower|slice:"-4:" == ".png" or attachment.file.url|lower|slice:"-5:" == ".jpeg" or attachment.file.url|lower|slice:"-4:" == ".gif" %}
                    <a href="{{ attachment.file.url }}" type="button" data-bs-toggle="modal" data-bs-target="#modal-{{ forloop.counter }}">
                        <img class="img-fluid attachment-img" src="{{ attachment.file.url }}" alt="{{ attachment.file.name }}">
                    </a>

                    <!-- Modal for images -->
                    <div class="modal fade" id="modal-{{ forloop.counter }}" tabindex="-1" aria-labelledby="modalLabel-{{ forloop.counter }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img class="img-fluid" src="{{ attachment.file.url }}" alt="{{ attachment.file.name }}">
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <a href="{{ attachment.file.url }}" class="btn btn-primary" download>Download {{ attachment.file.name }}</a>
                {% endif %}
            </li>
        {% empty %}
            <li>No attachments available.</li>
        {% endfor %}
    </ul>
</div>
