<div class="container mt-5 mb-5 issuebox-grid">
    <div class="box bg-warning">
        <h4 class="text-center">Issue Raised</h4>
        {{ total_issues }}
    </div>
    <div class="box bg-danger">
        <h4 class="text-center">Active</h4>
        {{ active_issues }}
    </div>
    <div class="box bg-success">
        <h4 class="text-center">Resolved</h4>
        {{ resolved_issues }}
    </div>

    <div class="box text-dark">
        <a href="{% url 'nonsap:raise-issue' %}" class="text-decoration-none" target="_blank">
            <h4 class="text-center">Raise Complaint</h4>
            <i class="fa-solid fa-plus"></i>
        </a>
    </div>
</div>