<div class="container mt-5 mb-5 issuebox-grid">

    <a href="?status=all&priority=" class="box bg-warning {% if status_filter == 'all' %}active{% endif %}">
        <h4 class="text-center">Issue Raised</h4>
        {{ total_issues }}
    </a>

    <a href="?status=active&priority=" class="box bg-primary {% if status_filter == 'active' and priority != 'critical' %}active{% endif %}">
        <h4 class="text-center">Active</h4>
        {{ active_issues }}
    </a>

    <a href="?priority=critical" class="box bg-danger {% if priority == 'critical' %}active{% endif %}">
        <h4 class="text-center">Critical</h4>
        {{ critical_issues }}
    </a>

    <a href="?status=inprogress&priority=" class="box bg-secondary {% if status_filter == 'inprogress' %}active{% endif %}">
        <h4 class="text-center">In Progress</h4>
        {{ inprogress_issues }}
    </a>

    <a href="?status=resolved&priority=" class="box bg-success {% if status_filter == 'resolved' %}active{% endif %}">
        <h4 class="text-center">Resolved</h4>
        {{ resolved_issues }}
    </a>

    <div class="box text-dark">
        <a href="{% url 'nonsap:raise-issue' %}" class="text-decoration-none">
            <h4 class="text-center r-c-btn">Raise Complaint</h4>
            <i class="fa-solid fa-plus"></i>
        </a>
    </div>
</div>
