<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Sl. No</th>
            <th scope="col">Issue Title</th>
            <th scope="col">Description</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for issue in issues %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ issue.issue }}</td>
            <td>{{ issue.description }}</td>
            <td>{{ issue.report_date }}</td>
            <td>{{ issue.report_time }}</td>
            <td><a class="btn btn-primary" href="{% url 'nonsap:view_status' issue.id %}">View Status</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>